In [6]:
def fun(a):
    return a * 2
a = [1,2,3,4]
print(list(map(fun,a)))

[2, 4, 6, 8]

In [14]:
class cl:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def fun(self):
        return(self.name,self.age*2)
obj = cl(name = "dwara",age = 12)
obj.fun()

('dwara', 24)

In [18]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))

apple
banana

In [19]:
class Vehicle:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Move!")

class Car(Vehicle):
  pass

class Boat(Vehicle):
  def move(self):
    print("Sail!")

class Plane(Vehicle):
  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car object
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat object
plane1 = Plane("Boeing", "747")     #Create a Plane object

for x in (car1, boat1, plane1):
  print(x.brand)
  print(x.model)
  x.move()

Ford
Mustang
Move!
Ibiza
Touring 20
Sail!
Boeing
747
Fly!

In [32]:
x = 300
def myfunc(x):
    print("first function")
    def myinnerfunc(x):
        print(x)
    return myinnerfunc(x * 5)

myfunc(x)

first function
1500

# global variable in function

In [41]:
x = 300

def myfunc():
    global x
    return x
def my():
    c = myfunc()
    print(c)
    return c * 2
my()

300

600

# creating varibale in function and using outsite of the function

In [75]:
y = 100
class va:
    def func():
        global x
        x = y * 2
        
x

200

# RegExp

In [93]:
import re 
a = "This is dwarakesh"
x = re.search("dwar",a)       # This is case sensitive
if x :
    print("true")
else:
    print("f")

true <re.Match object; span=(8, 12), match='dwar'>

In [ ]:
import re 
a = "This is dwarakesh 1 2 3 4 3 1 2 3 1"
x = re.split("1",a)       # This is case sensitive
if x :
    print("true",x)
else:
    print("f")

In [ ]:
import re 
a = "This is dwarakesh"
x = re.findall("dwar",a)       # This is case sensitive
if x :
    print("true",x)
else:
    print("f")